<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ví dụ bài 2</title>
    <style> table, th, td {border: 1px solid red;}  </style>
</head>

<body style = "background-color:rgb(255,222,255);">
<!--The background-color (bgcolor) property defines the background color for an HTML element.-->


<h2 style="color:green;"> Thế nào là thẻ (tag) ?</h2>
<p>HTML tags label pieces of content such as"heading", "paragraph", "table",
    and so on<br>Browsers do not display the HTML tags, but use them to render the content of the page</p>

<h2 style="color:rgb(0,150,100);">Thế nào gọi là thuộc tính (Attribute) và thẻ con (Children)?</h2>
<p>Attributes provide additional information about an element.
Attributes are always specified in the start tag<br>Attributes usually come in name/value pairs
    like: name="value"  <br>Eg: lang="en"</p>

<h2 style="color:rgb(0,150,100), font-size"> Học về các thẻ sau, cho biết tác dụng và cách sử dụng chúng:</h2>
<h3> a tag </h3>
<p>HTML links are defined with the <mark>a tag</mark>.
    The link address is specified in the  <i>href</i> attribute<br> Eg:</p>
<a href="http://techkids.vn">Techkid Coding School</a>
<hr>

<h3> img tag </h3>
<p>HTML images are defined with the <mark>img tag</mark>. The source file (<i>src</i>), alternative
    text (<i>alt</i>), <i>width</i>, and <i>height</i> are provided as attributes <br> Eg:</p>
<img src=" octocat.png" width="100" height="100">
<hr>

<h3>div tag</h3>
<p>The div tag defines a division or a section in an HTML document.<br>
    The div tag is used to group block-elements to format them with CSS.<br> Eg: </p>
<div>
     <h4>This is a heading in a div element</h4>
  <p>This is some text in a div element.</p>
</div>
<hr>

<h3>br tag</h3>
<p>The HTML BR element defines a line break.<br>Use BR if you want a line break
    (a new line) without starting a new paragraph:</p>
<hr>

<h3>table tag</h3>
<p>The table tag defines an HTML table.<br>
    The <b>tr</b>  element defines a table row, the <b>th</b> element defines a table header,
    and the <b>td</b> element defines a table cell.<br>
    Eg:</p>
<table>
    <tr>
        <th> Tên </th>
        <th> Tuổi </th>
        <th> Giới tính </th>
    </tr>
    <tr>
        <td> mrX </td>
        <td> 40 </td>
        <td> nam </td>
    </tr>
    <tr>
        <td> mrsY </td>
        <td> 50 </td>
        <td> nữ </td>
    </tr>
</table>
<hr>

<h3>ol, ul and li tag</h3>
<p>The <b>ol</b> tag defines an ordered list. An ordered list can be numerical or alphabetical.<br>
    The <b>ul</b> tag defines an unordered (bulleted) list.<br>
    The <b>li</b> tag defines a list item.<br>
    Eg:
</p>

<p> An orderd list: </p>
<ol>
    <li> A </li>
    <li> Ắ </li>
    <li> Ấ </li>
</ol>

<p> An unorderd list: </p>
<il>
    <li> A </li>
    <li> Ắ </li>
    <li> Ấ </li>
</il>
<hr>


</body>
</html>